# Capstone Workbook 5: Advanced Modelling NLP

In [1]:
# Import libraries
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from scipy import stats
import statsmodels.api as sm

In [2]:
# Import data 
airbnb_ldn = pd.read_csv('airbnb_ldn_pp.csv')

In [3]:
# drop 'Unnamed: 0'
airbnb_ldn = airbnb_ldn.drop(columns = 'Unnamed: 0')

Split the columns to view just those with the object datatype, keeping the target column:

In [4]:
X_obj = airbnb_ldn.select_dtypes(include='object')
X_obj = pd.concat([X_obj, airbnb_ldn['Annual Revenue LTM (Native)']], axis=1)

In [5]:
X_obj

,Listing Title,Property Type,Zipcode,Check-in Time,Amenities,guest_controls,Annual Revenue LTM (Native)
0,Cozy 2BR house with a garden view,Entire home,SW15 3,12:00 PM - 12:00 AM,"['Free parking on premises', 'Air conditioning...","{""allows_children"": true, ""allows_infants"": tr...",1619.5
1,GuestReady - Amazing home with a private garden,Entire home,SW15 3,3:00 PM - 12:00 AM,"['Wifi', 'Kitchen', 'Dryer', 'Dedicated worksp...","{""allows_children"": true, ""allows_infants"": tr...",16737.7
2,Cosy cottage on Richmond Park,Entire home,SW15 3,After 3:00 PM,"['Free parking on premises', 'Air conditioning...","{""allows_children"": false, ""allows_infants"": f...",345.2
3,"Entire Flat. Free parking, Garden , Richmond park",Entire rental unit,SW15 3,3:00 PM - 11:00 PM,"['Free parking on premises', 'Wifi', 'Kitchen'...","{""allows_children"": true, ""allows_infants"": tr...",12853.3
4,Maisonette inbetween Richmond Park and Wimbledon,Private room in rental unit,SW15 3,12:00 PM - 10:00 PM,"['Free parking on premises', 'Wifi', 'Breakfas...","{""allows_children"": false, ""allows_infants"": f...",267.8
...,...,...,...,...,...,...,...
32669,Service Apartment- London Thamesmead,Entire condo,SE28 8,3:00 PM - 9:00 PM,"['Free parking on premises', 'Wifi', 'Kitchen'...","{""allows_children"": true, ""allows_infants"": tr...",5371.2
32670,Large Double Room with Free Parking and Garden,Private room in home,SE28 8,2:00 PM - 4:00 PM,"['Free parking on premises', 'Wifi', 'Kitchen'...","{""allows_children"": true, ""allows_infants"": tr...",189.6
32671,Forest view room in welcoming home,Private room in home,E4 6,NaN,"['Wifi', 'Kitchen', 'Hair dryer', 'TV', 'Iron'...","{""allows_children"": true, ""allows_infants"": fa...",6335.8
32672,Spacious Double Room with En-suite bathroom,Private room in home,E4 6,3:00 PM - 10:00 PM,"['Wifi', 'Kitchen', 'Hair dryer', 'TV', 'Iron'...","{""allows_children"": false, ""allows_infants"": f...",4264.4
32673,Large Room & Bathroom close to Forest and Station,Private room in home,E4 6,3:00 PM - 10:00 PM,"['Free parking on premises', 'Wifi', 'Kitchen'...","{""allows_children"": false, ""allows_infants"": f...",6596.5

In [6]:
# confirm datatype of remaining columns:
X_obj.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32674 entries, 0 to 32673
Data columns (total 7 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Listing Title                32674 non-null  object
 1   Property Type                32674 non-null  object
 2   Zipcode                      32674 non-null  object
 3   Check-in Time                30917 non-null  object
 4   Amenities                    32674 non-null  object
 5   guest_controls               32674 non-null  object
 6   Annual Revenue LTM (Native)  32674 non-null  float64
dtypes: float64(1), object(6)
memory usage: 1.7+ MB

Now the object datatype columns have been isolated with the target column, the data will be checked:

In [7]:
# check for nulls
X_obj.isnull().sum()

Listing Title                     0
Property Type                     0
Zipcode                           0
Check-in Time                  1757
Amenities                         0
guest_controls                    0
Annual Revenue LTM (Native)       0
dtype: int64

The 'Check-in Time' column has many nulls. This column isn't essential for the model, so it can be dropped for the time being. 
The 'Listing Title' column has 4 null values. This is insignificant compared to the entire dataset size, so these rows can be dropped.

In [8]:
# dropping Check-in time column
X_obj.drop(columns='Check-in Time', inplace=True)

In [9]:
# dropping the Listing Title null rows:
X_obj.dropna(inplace=True)

In [10]:
# sanity check
X_obj.isnull().sum()

Listing Title                  0
Property Type                  0
Zipcode                        0
Amenities                      0
guest_controls                 0
Annual Revenue LTM (Native)    0
dtype: int64

As seen, there are no null values remaining.

The independent and dependent variables can now be split.

In [11]:
X = X_obj.drop(columns='Annual Revenue LTM (Native)')

In [12]:
y = X_obj['Annual Revenue LTM (Native)']

## Starting With Listing Title

In [13]:
lt_array = X_obj['Listing Title']

In [14]:
lt_array

0                        Cozy 2BR house with a garden view
1          GuestReady - Amazing home with a private garden
2                            Cosy cottage on Richmond Park
3        Entire Flat. Free parking, Garden , Richmond park
4         Maisonette inbetween Richmond Park and Wimbledon
                               ...
32669                Service  Apartment- London Thamesmead
32670       Large Double Room with Free Parking and Garden
32671                   Forest view room in welcoming home
32672          Spacious Double Room with En-suite bathroom
32673    Large Room & Bathroom close to Forest and Station
Name: Listing Title, Length: 32674, dtype: object

In [15]:
from sklearn.feature_extraction.text import CountVectorizer

In [16]:
# .1 Instantiate transformer object
bagofwords_lt = CountVectorizer(min_df = 50,
                                stop_words = "english",
                             ngram_range = (1, 4))

# 2. Fit
bagofwords_lt.fit(lt_array)

# 3. Transform
lt_transformed = bagofwords_lt.transform(lt_array)
lt_transformed

<32674x739 sparse matrix of type '<class 'numpy.int64'>'
	with 192522 stored elements in Compressed Sparse Row format>

In [17]:
# View the words that are occuring in the Listing Title:
bagofwords_lt.vocabulary_

{'cozy': 200,
 '2br': 16,
 'house': 353,
 'garden': 302,
 'view': 713,
 'house garden': 356,
 'garden view': 306,
 'guestready': 322,
 'amazing': 26,
 'home': 343,
 'private': 540,
 'private garden': 545,
 'cosy': 186,
 'cottage': 196,
 'park': 516,
 'entire': 245,
 'flat': 267,
 'free': 296,
 'parking': 517,
 'entire flat': 246,
 'flat free': 274,
 'free parking': 297,
 'maisonette': 441,
 'wimbledon': 734,
 'room': 575,
 'private room': 546,
 'friendly': 298,
 'clean': 169,
 'place': 531,
 'people': 525,
 'nice': 491,
 'quiet': 556,
 'double': 216,
 'single': 605,
 'rooms': 592,
 'near': 473,
 'piccadilly': 529,
 'line': 393,
 'house near': 358,
 'lovely': 416,
 'lovely room': 427,
 'beautiful': 64,
 'views': 714,
 'stay': 648,
 'family': 255,
 'east': 234,
 'guests': 323,
 'family home': 257,
 'home garden': 346,
 'large': 379,
 'large room': 385,
 'stunning': 661,
 'london': 403,
 'london home': 411,
 'bedroom': 83,
 'bathroom': 56,
 'private double': 543,
 'double bedroom': 218,
 'bedroom private': 101,
 'private bathroom': 541,
 'bedroom private bathroom': 102,
 'light': 392,
 'big': 109,
 'bed': 71,
 'west': 723,
 'west london': 727,
 'stylish': 665,
 'nr': 496,
 'stylish bedroom': 668,
 'bedroom home': 97,
 'en': 238,
 'spacious': 625,
 'cosy bedroom': 189,
 'designed': 213,
 'king': 370,
 'size': 610,
 'suite': 673,
 'king size': 373,
 'en suite': 239,
 'ivy': 365,
 'city': 162,
 'living': 399,
 'bd': 61,
 'close': 171,
 'minutes': 459,
 'central': 145,
 'central london': 147,
 'putney': 552,
 'spacious bedroom': 629,
 'bedroom house': 98,
 'gorgeous': 312,
 'london house': 412,
 'bright': 121,
 'unique': 701,
 'townhouse': 687,
 'airy': 25,
 'terrace': 680,
 'bright airy': 122,
 'charming': 154,
 'large double': 382,
 'double en': 219,
 'suite room': 674,
 'double en suite': 220,
 'en suite room': 240,
 'ealing': 229,
 'bedroom flat': 91,
 'beautiful bedroom': 67,
 'south': 621,
 'split': 640,
 'level': 390,
 'studio': 654,
 'split level': 641,
 'river': 567,
 'room en': 580,
 'room en suite': 581,
 'chiswick': 160,
 'ensuite': 242,
 'shared': 600,
 'double room': 221,
 'room shared': 590,
 'shared bathroom': 601,
 'modern': 460,
 '5min': 20,
 'walk': 716,
 'station': 647,
 'bright modern': 129,
 'modern bed': 462,
 'bed flat': 76,
 'modern bed flat': 463,
 'family friendly': 256,
 'great': 313,
 'location': 401,
 'cosy flat': 192,
 'flat great': 277,
 'great location': 314,
 'refurbished': 559,
 'delightful': 210,
 'floor': 293,
 'leafy': 388,
 'floor flat': 295,
 'mezzanine': 452,
 'apartment': 30,
 'gem': 309,
 'mins': 456,
 'mins central': 457,
 'family house': 258,
 'village': 715,
 'riverside': 570,
 'thames': 681,
 'spacious bed': 627,
 'river thames': 568,
 'spacious bed flat': 628,
 'little': 395,
 'chelsea': 158,
 'bedroom family': 90,
 'transport': 690,
 'new': 486,
 'large double room': 384,
 'victorian': 709,
 'victorian house': 712,
 'loft': 402,
 'king bed': 371,
 'sunny': 675,
 'dbl': 209,
 'min': 453,
 'tube': 695,
 'single room': 609,
 'min tube': 454,
 'lovely bed': 417,
 'lovely bed flat': 418,
 'bright bedroom': 124,
 'bedroom apartment': 84,
 'peaceful': 522,
 'bed apartment': 72,
 'vibrant': 706,
 'heart': 329,
 'high': 334,
 'rd': 558,
 'apartments': 42,
 'kitchen': 376,
 'bath': 53,
 'bed bath': 74,
 'beds': 104,
 'london flat': 410,
 'charming bedroom': 156,
 'bath apartment': 54,
 'green': 317,
 'beautiful flat': 69,
 'ground': 319,
 'ground floor': 320,
 'modern apartment': 461,
 'warehouse': 719,
 'lovely bedroom': 419,
 'flat west': 291,
 'lovely bedroom flat': 421,
 'road': 571,
 'newly': 488,
 'trendy': 692,
 'mews': 450,
 'mews house': 451,
 'designer': 214,
 'contemporary': 182,
 'bright double': 126,
 'room heart': 584,
 'bright double room': 127,
 'balcony': 52,
 'modern bedroom': 464,
 'flat balcony': 268,
 'modern bedroom flat': 466,
 'large bedroom': 381,
 'double bed': 217,
 'lovely double': 422,
 'lovely double room': 424,
 'spacious bedroom flat': 631,
 'roof': 572,
 'roof terrace': 573,
 'boutique': 113,
 'street': 653,
 '10': 0,
 'ensuite room': 244,
 'georgian': 310,
 'common': 179,
 'room close': 579,
 'fabulous': 254,
 'elegant': 237,
 'welcoming': 722,
 'tennis': 679,
 'wimbledon tennis': 735,
 'good': 311,
 'holiday': 340,
 'patio': 520,
 'spacious flat': 636,
 'flat patio': 287,
 'apt': 43,
 'bedroom garden': 95,
 'garden flat': 304,
 'bedroom garden flat': 96,
 'room ensuite': 582,
 'ensuite bathroom': 243,
 'excellent': 250,
 '2br flat': 17,
 'brand': 115,
 'brand new': 116,
 'house central': 354,
 'lovely double bedroom': 423,
 'bright studio': 132,
 'studio flat': 657,
 'netflix': 485,
 'wi': 731,
 'fi': 263,
 'wi fi': 732,
 'train': 688,
 'large double bedroom': 383,
 'space': 624,
 'center': 144,
 'superb': 677,
 'perfect': 526,
 'homely': 348,
 'skyline': 611,
 'luxury': 433,
 'garden studio': 305,
 'town': 685,
 'home near': 347,
 'clapham': 166,
 'waterloo': 721,
 'spacious bright': 632,
 '2bd': 11,
 'bathrooms': 57,
 'fantastic': 260,
 'duplex': 228,
 'large bed': 380,
 'floor apartment': 294,
 'modern bedroom apartment': 465,
 'bedroom bathroom': 87,
 'luxury apartment': 434,
 'tv': 697,
 'comfortable': 176,
 'flat garden': 276,
 'best': 108,
 'stylish bed': 667,
 'near tube': 484,
 'tube station': 696,
 'wood': 737,
 'bedrooms': 103,
 'st': 644,
 'min walk': 455,
 'beautiful double': 68,
 'super': 676,
 'modern spacious': 470,
 'tooting': 682,
 'bright spacious': 131,
 'spacious room': 638,
 'pbc': 521,
 'room private': 588,
 'double room private': 224,
 'room private bathroom': 589,
 'double room private bathroom': 225,
 'cheerful': 157,
 'broadway': 134,
 'cosy bed': 188,
 'victorian flat': 710,
 'tranquil': 689,
 'wandsworth': 718,
 '1bed': 5,
 'flat central': 270,
 'flat central london': 271,
 'master': 447,
 'modern studio': 471,
 'flat london': 282,
 'deluxe': 211,
 'lovely private': 426,
 'private bedroom': 542,
 'rent': 564,
 'long': 415,
 'south london': 623,
 'cosy double': 190,
 'cosy double room': 191,
 'zone': 738,
 'room zone': 591,
 'bed house': 81,
 'bright room': 130,
 'town house': 686,
 'flat south': 289,
 'streatham': 652,
 'room near': 587,
 'double room near': 223,
 'huge': 360,
 'chic': 159,
 'renovated': 563,
 'victorian home': 711,
 'newly renovated': 490,
 'luxurious': 432,
 'smart': 616,
 'london zone': 414,
 'penthouse': 524,
 'bedroom london': 99,
 'london apartment': 404,
 'opposite': 504,
 '20': 9,
 'modern double': 468,
 'overlooking': 507,
 'comfortable double': 177,
 'spacious double': 633,
 'spacious double room': 635,
 'single bedroom': 606,
 'away': 49,
 'home away': 344,
 'away home': 50,
 'home away home': 345,
 'located': 400,
 'stylish modern': 671,
 'short': 603,
 'stylish bedroom flat': 669,
 'comfy': 178,
 '1br': 6,
 'pass': 518,
 'keys': 369,
 '1br flat': 7,
 'flat private': 288,
 'pass keys': 519,
 'flat close': 273,
 'excellent location': 251,
 'queen': 553,
 'sleeps': 612,
 'serviced': 597,
 'greater': 315,
 'serviced apartment': 598,
 'greater london': 316,
 'cozy double': 202,
 'fulham': 299,
 'room london': 585,
 'central location': 146,
 'period': 527,
 'modern flat': 469,
 '2bdr': 13,
 'oasis': 498,
 'gardens': 307,
 'garden apartment': 303,
 'pad': 512,
 'flat near': 283,
 'newly refurbished': 489,
 'breakfast': 117,
 '3br': 19,
 'lovely spacious': 428,
 'bdr': 62,
 '2bd flat': 12,
 'beautiful apartment': 65,
 'small': 615,
 'close central': 172,
 'close central london': 173,
 'ideal': 363,
 'twin': 698,
 'available': 48,
 'twin room': 699,
 'open': 502,
 'plan': 532,
 'open plan': 503,
 '15': 2,
 'room bathroom': 576,
 'safe': 594,
 'area': 45,
 'female': 262,
 'luxury bedroom': 436,
 'house london': 357,
 '3bed': 18,
 'studio near': 659,
 'near central': 476,
 'near central london': 477,
 'person': 528,
 'close tube': 174,
 'apartment near': 41,
 'bed room': 82,
 'wharf': 730,
 'luxury flat': 438,
 'flat terrace': 290,
 'style': 664,
 'river view': 569,
 'bedroom near': 100,
 'spacious bedroom apartment': 630,
 'convenient': 183,
 'bed home': 80,
 'guest': 321,
 '1bd': 3,
 '1bd flat': 4,
 'flat fulham': 275,
 'lovely flat': 425,
 'luxury bed': 435,
 'hammersmith': 326,
 'charming bed': 155,
 'shower': 604,
 'fully': 300,
 'lovely studio': 429,
 'lovely studio flat': 430,
 'brick': 118,
 'stylish apartment': 666,
 'modern bright': 467,
 'spacious modern': 637,
 'stunning bedroom': 663,
 'artist': 47,
 'bedroom apartment near': 85,
 'self': 595,
 'contained': 181,
 'self contained': 596,
 'bridge': 120,
 'bedroom apt': 86,
 'studio apartment': 655,
 'lux': 431,
 'apartment london': 40,
 'double studio': 226,
 'luxury bedroom apartment': 437,
 'centrally': 151,
 'centrally located': 152,
 'central london apartment': 148,
 'bed apt': 73,
 'paddington': 513,
 'bayswater': 60,
 'dorm': 215,
 'bed bed': 75,
 'cosy studio': 195,
 'cosy room': 193,
 'room central': 577,
 'room central london': 578,
 'family room': 259,
 'bush': 137,
 'cozy bedroom': 201,
 'westfield': 728,
 '10 mins': 1,
 'classic': 168,
 'kensington': 368,
 'flat kensington': 281,
 'apartment garden': 37,
 'outdoor': 505,
 'end': 241,
 'lift': 391,
 'ac': 21,
 'underground': 700,
 'apartment heart': 38,
 'kings': 374,
 'apartment balcony': 31,
 'london bedroom': 405,
 'entrance': 247,
 'house central london': 355,
 'rooftop': 574,
 'cool': 185,
 'bath flat': 55,
 'flat heart': 279,
 'stunning bed': 662,
 'central london zone': 150,
 'beautiful bed': 66,
 'bright flat': 128,
 'prime': 536,
 'prime location': 537,
 'retreat': 566,
 'property': 551,
 'design': 212,
 'bed garden': 78,
 'cute': 207,
 'warm': 720,
 'palace': 514,
 'centre': 153,
 'triple': 693,
 'flat parking': 286,
 '2bath': 10,
 'near london': 480,
 'west end': 724,
 'central london flat': 149,
 '2bed': 14,
 'residence': 565,
 'wonderful': 736,
 'cross': 204,
 'large studio': 386,
 'court': 197,
 'br': 114,
 'private double room': 544,
 'olympia': 501,
 'london studio': 413,
 'west kensington': 726,
 'apartment central': 33,
 'apartment central london': 34,
 'colourful': 175,
 'studio central': 656,
 'queens': 554,
 'metro': 449,
 'earls': 232,
 'bedroom flat central': 92,
 'bedroom flat central london': 93,
 'urban': 702,
 'museum': 472,
 'apartment kensington': 39,
 'studios': 660,
 'spacious studio': 639,
 'room lovely': 586,
 'holland': 341,
 'holland park': 342,
 'bed flat near': 77,
 'stylish flat': 670,
 'heart london': 331,
 'flat heart london': 280,
 'bedroom flat near': 94,
 'hotel': 349,
 'bdr apt': 63,
 'notting': 494,
 'hill': 337,
 'near notting': 481,
 'notting hill': 495,
 'near notting hill': 482,
 'studio heart': 658,
 'heart chelsea': 330,
 'square': 643,
 'apart': 29,
 'earls court': 233,
 'private studio': 547,
 'lovely bedroom apartment': 420,
 'earl': 230,
 'earl court': 231,
 'flat chelsea': 272,
 'borough': 112,
 'links': 394,
 'transport links': 691,
 'apartment chelsea': 35,
 '1st': 8,
 'south kensington': 622,
 'budget': 135,
 'hyde': 361,
 'near hyde': 478,
 'hyde park': 362,
 'near hyde park': 479,
 'furnished': 301,
 'sq': 642,
 'high street': 335,
 'royal': 593,
 'spacious apartment': 626,
 'bright cosy': 125,
 'apartment close': 36,
 'art': 46,
 'superior': 678,
 'room garden': 583,
 'standard': 646,
 '2bed 2bath': 15,
 'premium': 535,
 'oxford': 508,
 'oxford st': 510,
 'bed garden flat': 79,
 'clapham common': 167,
 'bright bed': 123,
 'pro': 549,
 'managed': 442,
 'pro managed': 550,
 'battersea': 58,
 'wifi': 733,
 'just': 366,
 'victoria': 707,
 'easy': 236,
 'access': 22,
 'brixton': 133,
 'spacious double bedroom': 634,
 'quirky': 557,
 'old': 499,
 'stylish studio': 672,
 'air': 24,
 'harrods': 328,
 'condo': 180,
 'north': 492,
 'private terrace': 548,
 'cosy apartment': 187,
 'london city': 407,
 'ldn': 387,
 'battersea park': 59,
 'gym': 324,
 'mins walk': 458,
 'gate': 308,
 'building': 136,
 'knightsbridge': 377,
 'historic': 338,
 'sloane': 613,
 'sloane square': 614,
 'sonder': 620,
 'sofa': 617,
 'sofa bed': 618,
 'lane': 378,
 'amazing location': 27,
 'vauxhall': 704,
 'ben': 106,
 'big ben': 110,
 'eye': 253,
 'london eye': 408,
 'flat zone': 292,
 'city view': 165,
 'pimlico': 530,
 'westminster': 729,
 'city centre': 163,
 'double room central': 222,
 'bedroom central': 88,
 'bedroom central london': 89,
 'crystal': 205,
 'crystal palace': 206,
 'london bridge': 406,
 'dulwich': 227,
 'east london': 235,
 'cosy single': 194,
 'filled': 265,
 'camberwell': 138,
 'peckham': 523,
 'oval': 506,
 'cozy room': 203,
 'beautiful room': 70,
 'executive': 252,
 'tower': 683,
 'tower bridge': 684,
 'market': 445,
 'bermondsey': 107,
 'near tower': 483,
 'greenwich': 318,
 'canal': 141,
 'canary': 142,
 'canary wharf': 143,
 'triple room': 694,
 'near canary': 474,
 'near canary wharf': 475,
 'excel': 249,
 'o2': 497,
 'acton': 23,
 'vale': 703,
 'portobello': 533,
 'flat notting': 284,
 'flat notting hill': 285,
 'kensal': 367,
 'portobello road': 534,
 'hotel room': 352,
 'queens park': 555,
 'maida': 439,
 'maida vale': 440,
 'venice': 705,
 'little venice': 396,
 'circus': 161,
 'oxford circus': 509,
 'regents': 561,
 'regents park': 562,
 'oxford street': 511,
 'camden': 139,
 'hampstead': 327,
 'west hampstead': 725,
 'heath': 333,
 'marble': 443,
 'arch': 44,
 'marble arch': 444,
 'mayfair': 448,
 'marylebone': 446,
 'regent': 560,
 'baker': 51,
 'soho': 619,
 'leicester': 389,
 'covent': 198,
 'covent garden': 199,
 'bloomsbury': 111,
 'fitzrovia': 266,
 'euston': 248,
 'holborn': 339,
 'camden town': 140,
 'kings cross': 375,
 'king cross': 372,
 'pancras': 515,
 'st pancras': 645,
 'belsize': 105,
 'primrose': 538,
 'primrose hill': 539,
 'flat camden': 269,
 'apartment camden': 32,
 'north london': 493,
 'converted': 184,
 'islington': 364,
 'fields': 264,
 'city london': 164,
 'clerkenwell': 170,
 'farringdon': 261,
 'hotel kings': 350,
 'single en': 607,
 'hotel kings cross': 351,
 'single en suite': 608,
 'angel': 28,
 'old street': 500,
 'shoreditch': 602,
 'brick lane': 119,
 'liverpool': 397,
 'liverpool street': 398,
 'heart shoreditch': 332,
 'hoxton': 359,
 'hackney': 325,
 'highbury': 336,
 'flat hackney': 278,
 'dalston': 208,
 'london fields': 409,
 'newington': 487,
 'stoke': 649,
 'stoke newington': 650,
 'victoria park': 708,
 'stratford': 651,
 'seven': 599,
 'walthamstow': 717}

In [18]:
# see the quantity of tokens:
len(bagofwords_lt.vocabulary_)

739

In [19]:
listing_title_cv = pd.DataFrame(columns=bagofwords_lt.get_feature_names(), data=lt_transformed.toarray())

In [20]:
# Viewing the listing title dataframe:
display(listing_title_cv)

,10,10 mins,15,1bd,1bd flat,1bed,1br,1br flat,1st,20,...,westminster,wharf,wi,wi fi,wifi,wimbledon,wimbledon tennis,wonderful,wood,zone
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32669,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32670,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32671,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32672,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32673,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

The same Listing title will now be split using TF-IDF:

In [21]:
# required import
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction import text

In [22]:
# using our custom tokenizer in TfidfVectorizer
tfidf = TfidfVectorizer(min_df=50,
                        ngram_range = (1,3),
                        stop_words = "english")
tfidf.fit(lt_array)

lt_tfidf_transformed = tfidf.transform(lt_array)
listing_title_tfidf = pd.DataFrame(columns=tfidf.get_feature_names(), data=lt_tfidf_transformed.toarray())

In [23]:
display(listing_title_tfidf)

,10,10 mins,15,1bd,1bd flat,1bed,1br,1br flat,1st,20,...,westminster,wharf,wi,wi fi,wifi,wimbledon,wimbledon tennis,wonderful,wood,zone
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.585908,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32669,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
32670,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
32671,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
32672,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
32673,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0

In [24]:
listing_title_tfidf.max()

10                  1.000000
10 mins             0.543250
15                  0.743492
1bd                 0.748726
1bd flat            0.713357
                      ...
wimbledon           1.000000
wimbledon tennis    0.633090
wonderful           0.898538
wood                0.942951
zone                1.000000
Length: 737, dtype: float64

**Export the two process 'Listing title' columns to dataframe:**

In [25]:
# for the listing title count vectorized column
listing_title_cv.to_csv('lt_cv.csv', index=False)

In [26]:
# for the TF-IDF column:
listing_title_tfidf.to_csv('lt_tfidf.csv', index=False)

## Postcode Column

The Zipcode column will be split, so that just the first portion is retained (the district code). This will reduce the number of distinct values within the postcode column. This will group the properties better, giving a clearer idea of which postcode locations are more predictive of a higher annual revenue:

In [27]:
# splitting the zipcode column, to return the 
X_obj['Zipcode'].str.split().str[0]

0        SW15
1        SW15
2        SW15
3        SW15
4        SW15
         ...
32669    SE28
32670    SE28
32671      E4
32672      E4
32673      E4
Name: Zipcode, Length: 32674, dtype: object

The column within the dataframe will be redefined, to just contain the district code:

In [28]:
X_obj['Zipcode'] = X_obj['Zipcode'].str.split().str[0]

In [29]:
zc_array = X_obj['Zipcode']

This column can now be be processed. As the postcode values do not have any meaning other than to indicate the area they are assigned to, the quantity of their occurance is the important element within this context. Meaning count vectorizing this column will be sufficient

In [30]:
# .1 Instantiate transformer object
bagofwords_zc = CountVectorizer()

# 2. Fit
bagofwords_zc.fit(zc_array)

# 3. Transform
zc_transformed = bagofwords_zc.transform(zc_array)
zc_transformed

<32674x180 sparse matrix of type '<class 'numpy.int64'>'
	with 32674 stored elements in Compressed Sparse Row format>

In [31]:
zipcode_cv = pd.DataFrame(columns=(bagofwords_zc).get_feature_names(), data=zc_transformed.toarray())

In [32]:
display(zipcode_cv)

,e1,e10,e11,e12,e13,e14,e15,e16,e17,e18,...,wc1r,wc1v,wc1x,wc2a,wc2b,wc2e,wc2h,wc2n,wc2r,wd23
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32669,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32670,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32671,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32672,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32673,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Additional Stuff - To come to later

In [33]:
# looking at individual text items from the 'Listing Title' column:
([x.split(':')[0] for x in X_obj['Listing Title'][0][1:].split(', ')])

['ozy 2BR house with a garden view']

In [34]:
# determining the number of individual features in the 'guest controls' column:
len([x.split(':')[0] for x in X_obj['guest_controls'][0][1:].split(', ')])

40

In [35]:
# looking at individual text items from the 'guest_controls' column:
([x.split(':')[0] for x in X_obj['guest_controls'][0][1:].split(', ')])

['"allows_children"',
 '"allows_infants"',
 '"allows_pets"',
 '"allows_smoking"',
 '"allows_events"',
 '"id"',
 '"host_check_in_time_message"',
 '"localized_structured_house_rules_with_tips"',
 '"p3_structured_house_rules"',
 '"No pets"',
 '"No parties or events"',
 '"Self check-in with lockbox"]',
 '"structured_house_rules"',
 '"No pets"',
 '"No parties or events"]',
 '"structured_house_rules_with_tips"',
 '"long_term_text"',
 '"text"',
 '"tip"',
 '"details"',
 '"airmoji_key"',
 '{"key"',
 '"long_term_text"',
 '"text"',
 '"tip"',
 '"details"',
 '"airmoji_key"',
 '{"key"',
 '"long_term_text"',
 '"text"',
 '"tip"',
 '"details"',
 '"airmoji_key"',
 '{"key"',
 '"long_term_text"',
 '"text"',
 '"tip"',
 '"details"',
 '"airmoji_key"',
 '"allows_non_china_users"']

## Looking at 'Amenities' column:

In [36]:
airbnb_obj['Amenities']

NameError: name 'airbnb_obj' is not defined

In [ ]:
airbnb_obj['Amenities'].str.split(', ')

In [ ]:
# .1 Instantiate transformer object
bagofwords = CountVectorizer(min_df = 1000,
                             ngram_range = (1, 4))

# 2. Fit
bagofwords.fit(X_train['Amenities'])

# 3. Transform
amenities_transformed = bagofwords.transform(X_train['Amenities'])
amenities_transformed

Looking at the features:

In [ ]:
bagofwords.vocabulary_

In [ ]:
len(bagofwords.vocabulary_)