In [1]:
import pandas as pd

In [2]:
# Example DataFrame
data = {'ID': [1, 2, 3],
        'Features': [['ABC', 'DEF'], ['DEF', 'GHIJ', 'KLMN'], ['ABC', 'KLMN', 'OPQR']]}
df = pd.DataFrame(data)

In [3]:
df

   ID           Features
0   1         [ABC, DEF]
1   2  [DEF, GHIJ, KLMN]
2   3  [ABC, KLMN, OPQR]

In [5]:
# Get unique features from all rows
unique_features = set([feature for sublist in df['Features'] for feature in sublist])

In [6]:
unique_features

{'ABC', 'DEF', 'GHIJ', 'KLMN', 'OPQR'}

In [ ]:

# Add columns for each unique feature and initialize with 0
for feature in unique_features:
    df[feature] = 0

In [ ]:
# Iterate over each row and set values based on features
for index, row in df.iterrows():
    for feature in row['Features']:
        df.at[index, feature] = 1

In [7]:
import ast
import pandas as pd

In [11]:
# Example DataFrame with column containing list of features
data = {'Features': [["'Wifi'", "'Kitchen'", "'TV'", "'Washer'", "'Smoke alarm'"],
                     ["'Kitchen'", "'TV'", "'Washer'"],
                     ["'Wifi'", "'TV'", "'Smoke alarm'"]]}
df = pd.DataFrame(data)

In [12]:
df

                                            Features
0  ['Wifi', 'Kitchen', 'TV', 'Washer', 'Smoke ala...
1                        ['Kitchen', 'TV', 'Washer']
2                      ['Wifi', 'TV', 'Smoke alarm']

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Features  3 non-null      object
dtypes: object(1)
memory usage: 156.0+ bytes

In [13]:
# Extract individual features
unique_features = set([feature for sublist in df['Features'] for feature in sublist])
print(list(unique_features))

["'Smoke alarm'", "'Wifi'", "'TV'", "'Kitchen'", "'Washer'"]